---
const {
	id = 'lottie-player',
	src,
	animationData = null,
	width = '100%',
	height = '100%',
	loop = true,
	autoplay = true,
	renderer = 'svg',
	className = '',
	style = '',
	speed = 1,
	direction = 1,
	keepLastFrame = false,
} = Astro.props
---

<div
	id="lottie-player-container"
	class={className}
	style={`width: ${width}; height: ${height}; ${style}`}
	data-src={src}
	data-animation-data={JSON.stringify(animationData)}
	data-loop={JSON.stringify(loop)}
	data-autoplay={JSON.stringify(autoplay)}
	data-renderer={renderer}
	data-speed={speed}
	data-direction={direction}
	data-keep-last-frame={keepLastFrame}
>
</div>


<script type="module">
	const container = document.getElementById('lottie-player-container');
	const config = {
		container,
		renderer: container.dataset.renderer,
		loop: container.dataset.loop === 'true',
		autoplay: container.dataset.autoplay === 'true',
		rendererSettings: {
			preserveAspectRatio: 'xMidYMid meet',
		},
	}

	if (container.dataset.src) {
		config.path = container.dataset.src
	}

	if (container.dataset.animationData) {
		config.animationData = JSON.parse(container.dataset.animationData);
	}

	const animation = lottie.loadAnimation(config)

	animation.setSpeed(parseFloat(container.dataset.speed))
	animation.setDirection(parseInt(container.dataset.direction))

	if (!animation.loop && container.dataset.keepLastFrame === 'true') {
		animation.addEventListener('complete', () => {
			animation.goToAndStop(animation.totalFrames, true)
		})
	}
</script>
