---
import Container from '@components/shared/Container.astro'
import StarField from '@components/shared/StarField.astro'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

import cosmicButterfly from '@images/cosmic-butterfly.png'
import spaceSpotlight from '@images/space-spotlight.png'
import photo01 from '@images/employee-insta-photo-01.jpeg'
import photo02 from '@images/employee-insta-photo-02.jpeg'
import photo03 from '@images/employee-insta-photo-03.jpeg'
import photo04 from '@images/employee-insta-photo-04.jpeg'
import photo05 from '@images/employee-insta-photo-05.jpeg'
import photo06 from '@images/employee-insta-photo-06.jpeg'
import photo07 from '@images/employee-insta-photo-07.jpeg'
import photo08 from '@images/employee-insta-photo-08.jpeg'

const careerBenefits = [
  {
    title: 'Remote Flexibility',
    icon: 'nucleo/globe-pin-32-colored',
    description: 'Work from home, a cafe, or even under the stars.',
    borderClassName:
      'after:inset-x-0 after:bottom-0 after:h-px after:w-full after:bg-gradient-to-r after:from-violet-200/[0.025] md:after:from-transparent after:to-violet-200/[0.075] md:after:to-violet-200/[0.125]',
  },
  {
    title: 'Wellness Programs',
    icon: 'nucleo/heartbeat-32-colored',
    description: 'Enjoy health coverage and mental wellness benefits.',
    borderClassName:
      'after:inset-x-0 after:bottom-0 after:h-px after:w-full after:bg-gradient-to-r after:from-violet-200/[0.075] after:to-violet-200/[0.15] lg:after:to-violet-200/[0.25] md:after:via-violet-200/[0.25] md:after:to-violet-200/[0.125] lg:after:via-violet-200/[0.1875] before:content-[""] before:hidden sm:before:block before:absolute before:left-0 before:h-full before:w-px before:bg-gradient-to-b before:from-violet-200/[.01] before:to-violet-200/[0.075] md:before:to-violet-200/[0.125]',
  },
  {
    title: 'Professional Growth',
    icon: 'nucleo/bulb-32-colored',
    description: 'Courses and networks that boost your career.',
    borderClassName:
      'after:inset-x-0 after:bottom-0 after:h-px after:w-full after:bg-gradient-to-r lg:after:from-violet-200/[0.25] lg:after:to-violet-200/[0.125] after:from-violet-200/[0.15] after:to-violet-200/[0.075] md:after:from-violet-200/[0.125] md:after:to-transparent before:md:block before:hidden before:content-[""] before:absolute before:left-0 before:h-full before:w-px before:bg-gradient-to-b before:from-violet-200/[.015] lg:before:to-violet-200/[0.25] before:to-violet-200/[0.125]',
  },
  {
    title: 'Vacation Policy',
    icon: 'nucleo/palm-tree-32-colored',
    description: 'Recharge with over 1 month of vacation a year.',
    borderClassName:
      'md:hidden before:hidden before:sm:block lg:block after:inset-x-0 after:bottom-0 after:h-px after:w-full after:bg-gradient-to-r after:from-violet-200/[0.075] after:to-violet-200/[0.025] lg:after:from-violet-200/[0.125] lg:after:to-transparent before:content-[""] before:absolute before:left-0 before:h-full before:w-px before:bg-gradient-to-b md:before:from-violet-200/[.01] md:before:to-violet-200/[0.125] before:from-violet-200/[0.075] before:to-violet-200/[0.025]',
  },
  {
    title: 'Gear Allowance',
    icon: 'nucleo/computer-gear-32-colored',
    description: 'We’ll send you the latest technology wherever.',
    borderClassName:
      'after:hidden md:after:block after:content-[""] after:absolute after:w-1.5 after:h-1.5 after:bg-violet-200 after:top-[-3.5px] after:left-1/2 after:translate-x-[-2.5px] after:rounded-full before:content-[""] before:absolute before:sm:hidden before:inset-x-0 before:bottom-0 before:h-px before:w-full before:bg-gradient-to-r before:from-violet-200/[0.025] before:to-violet-200/[0.075]',
  },
  {
    title: 'Company Retreats',
    icon: 'nucleo/mountain-32-colored',
    description: 'All-expenses-paid retreats that blend work and play.',
    borderClassName:
      'before:content-[""] before:hidden before:sm:block before:absolute before:left-0 before:h-full before:w-px before:bg-gradient-to-b lg:before:from-violet-200/[.125] before:from-violet-200/[.025] before:to-violet-200/[.15] md:before:from-violet-200/[.25] md:before:to-violet-200/[0.01] after:content-[""] after:hidden md:after:block after:absolute after:w-1.5 after:h-1.5 after:bg-violet-200 after:top-[-3.5px] after:left-1/2 after:translate-x-[-2.5px] after:rounded-full',
  },
  {
    title: 'Family Leave',
    icon: 'nucleo/baby-stroller-32-colored',
    description: 'Extended maternity and paternity leave options',
    borderClassName:
      'hidden lg:block before:content-[""] before:absolute before:left-0 before:h-full before:w-px before:bg-gradient-to-b before:from-violet-200/[.125] before:to-violet-200/[0.01] after:content-[""] after:absolute after:w-1.5 after:h-1.5 after:bg-violet-200 after:top-[-3.5px] after:left-1/2 after:translate-x-[-2.5px] after:rounded-full',
  },
]

const employeeInstaPhotos = [
  {
    image: photo01,
    alt: 'Two friends taking a selfie at a restaurant',
    username: '@sara_and_jane',
    caption: 'Besties night out! 🥂',
    countryFlag: 'usa',
    location: 'New York, USA',
  },
  {
    image: photo02,
    alt: 'Dinner party with friends',
    username: '@VeronicaReardon',
    caption: 'Lisbon crew enjoying a nice dinner together!',
    countryFlag: 'portugal',
    location: 'Lisbon, Portugal',
  },
  {
    image: photo03,
    alt: 'Man working on laptop in a cafe',
    username: '@dev_daniel',
    caption: 'Remote work with a perfect cup of coffee ☕',
    countryFlag: 'usa',
    location: 'San Francisco, USA',
  },
  {
    image: photo04,
    alt: 'Three friends jumping with hot air balloons in the background',
    username: '@adventure_girls',
    caption: 'Ballooning adventures! 🎈',
    countryFlag: 'turkey',
    location: 'Cappadocia, Turkey',
  },
  {
    image: photo05,
    alt: 'Woman working at home with a dog by her side',
    username: '@urban_nature',
    caption: 'Work from home vibes 🌿',
    countryFlag: 'usa',
    location: 'Brooklyn, USA',
  },
  {
    image: photo06,
    alt: 'Yoga session in the park at sunset',
    username: '@yogi_life',
    caption: 'Finding peace in the sunset 🌅',
    countryFlag: 'australia',
    location: 'Sydney, Australia',
  },
  {
    image: photo07,
    alt: 'Man working on a laptop in an outdoor setting',
    username: '@nomad_coder',
    caption: 'Work from anywhere 🌍',
    countryFlag: 'greece',
    location: 'Santorini, Greece',
  },
  {
    image: photo08,
    alt: 'Woman using her phone with a beach view',
    username: '@coastal_life',
    caption: 'Ocean view office 🌊',
    countryFlag: 'new-zealand',
    location: 'Auckland, New Zealand',
  },
]
---

<section class="relative overflow-hidden pb-16 pt-20 sm:pb-20 sm:pt-24">
  <Container>
    {/* Text content */}
    <div class="relative flex flex-col items-center">
      <h1
        class="max-w-4xl text-center text-4xl font-bold leading-extratight text-violet-100 sm:text-5xl sm:leading-extratight"
      >
        Craft Your Career from
        <span class="relative inline-block text-nowrap">
          <span
            class="relative z-10 bg-gradient-to-b from-violet-400 via-violet-400 to-violet-500 bg-clip-text text-transparent"
          >
            Anywhere
          </span>
          <span class="absolute -top-px left-0 -z-10 text-violet-300"
            >Anywhere</span
          >
        </span>
        with Nebula
      </h1>
      <p class="mt-5 max-w-xl text-center text-lg leading-8 text-zinc-200">
        Embark on a professional journey with Nebula where remote working isn't
        just an option—it's our culture.
      </p>
    </div>

    {/* Benefits */}
    <div class="relative mt-12 sm:mt-18">
      <div
        class="absolute -left-56 -right-56 -top-80 sm:-left-64 sm:-right-64 lg:top-[-500px]"
      >
        <Image
          src={spaceSpotlight}
          alt=""
          class="-z-10 h-full w-full object-cover opacity-45"
          widths={[420, 768, 1152]}
          sizes={`(max-width: 420px) 420px, (max-width: 768px) 768px, (min-width: 768px) 1152px`}
        />
      </div>

      <div class="relative mt-8 flex flex-wrap items-stretch justify-center">
        {
          careerBenefits.map((benefit) => (
            <div
              class:list={[
                "group relative w-full bg-gradient-to-b after:absolute after:content-[''] sm:w-1/2 md:w-1/3 lg:w-1/4",
                benefit.borderClassName,
              ]}
            >
              <div class="relative h-full w-full overflow-hidden">
                <div
                  class="absolute inset-0 opacity-0 duration-300 ease-in-out group-hover:opacity-100"
                  aria-hidden="true"
                >
                  <StarField density="high" maxRadius={1.75} minRadius={1} />
                </div>
                <div class="hover-gradient absolute inset-0 -z-10 bg-gradient-to-b from-[#575EFF]/30 to-[#E478FF]/30 opacity-0 blur-4xl duration-300 ease-in-out group-hover:opacity-100" />
                <div class="relative z-10 flex h-full w-full flex-1 flex-col justify-center px-4 py-5 sm:px-5 sm:py-6 lg:py-7 xl:p-8">
                  <Icon
                    name={benefit.icon}
                    class="h-6 w-6 text-zinc-300 sm:h-7 sm:w-7 xl:h-8 xl:w-8"
                  />

                  <h4 class="mt-5 text-base font-bold text-violet-50 xl:mt-6 xl:text-lg">
                    {benefit.title}
                  </h4>
                  <p class="mt-1 line-clamp-2 text-base text-zinc-300 xl:text-lg">
                    {benefit.description}
                  </p>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </Container>

  {/* Images */}
  <div class="mx-2.5 mt-14 flex sm:mt-16 lg:mt-20">
    <div
      class="mx-2.5 flex w-max animate-infiniteScroll items-center justify-center [--_infinite-scroll-duration:80s]"
    >
      {
        [...Array(2)].map((_) => (
          <div class="flex w-1/2 justify-around">
            {employeeInstaPhotos.map((photo) => (
              <div class="relative mx-2.5 aspect-[4/5] w-60 flex-shrink-0 rounded-2xl border border-violet-200/[.08] bg-white/[.01] p-2 shadow-inner-blur sm:w-64 md:w-72 lg:w-80 xl:w-96">
                <div class="absolute -bottom-16 -left-20 -right-20 -top-24 -z-50 md:-bottom-20 md:-left-24 md:-right-24 md:-top-32 lg:-left-32 lg:-right-32 lg:-top-44">
                  <Image
                    src={cosmicButterfly}
                    alt=""
                    class="h-full w-full -rotate-6 opacity-25"
                  />
                </div>

                <Image
                  src={photo.image}
                  alt=""
                  class="relative h-full w-full rounded-lg object-cover mix-blend-luminosity"
                />

                <div class="absolute right-4 top-4 inline-flex w-max rounded-full bg-zinc-950/70 shadow-inner-blur">
                  <div class="flex h-full w-full items-center space-x-2 rounded-full border border-violet-200/[.06] px-3.5 py-1.5">
                    <Icon
                      name={`nucleo/flags/${photo.countryFlag}`}
                      class="h-3 w-3 text-violet-200"
                    />
                    <span class="text-xs font-medium leading-none text-violet-100 drop-shadow-[-12px_-4px_6px_rgba(237,233,254,0.2)]">
                      {photo.location}
                    </span>
                  </div>
                </div>
                <div class="absolute inset-x-2 bottom-2 rounded-b-lg bg-gradient-to-b from-violet-950/10 via-violet-950/40 to-violet-950/55">
                  <div class="px-4 py-8 md:px-5 lg:px-6 xl:px-8">
                    <p class="text-lg font-bold text-white md:text-xl lg:text-2xl">
                      {photo.username}
                    </p>
                    <p class="mt-1.5 text-base text-zinc-100 md:text-[17px] lg:text-lg">
                      {photo.caption}
                    </p>
                  </div>
                </div>
              </div>
            ))}
          </div>
        ))
      }
    </div>
  </div>
</section>
