---
import Container from '@components/shared/Container.astro'
import StarField from '@components/shared/StarField.astro'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

import graphic from '@images/features-graphic.png'
import cosmicButterfly from '@images/cosmic-butterfly.png'
import spaceSpotlight from '@images/space-spotlight.png'

const features = [
  {
    icon: 'heroicons:users-solid',
    title: 'Team collaboration.',
    description:
      'Seasonal latte black java dark blue fair grounds barista black origin french caffeine.',
  },
  {
    icon: 'heroicons:cursor-arrow-ripple-solid',
    title: 'Real time updates.',
    description:
      'Seasonal latte black java dark blue fair grounds barista black origin french caffeine.',
  },
  {
    icon: 'heroicons:shield-check-solid',
    title: 'Secure sharing.',
    description:
      'Seasonal latte black java dark blue fair grounds barista black origin french caffeine.',
  },
  {
    icon: 'heroicons:presentation-chart-line-solid',
    title: 'Analytics Insight.',
    description:
      'Seasonal latte black java dark blue fair grounds barista black origin french caffeine.',
  },
  {
    icon: 'heroicons:chat-bubble-left-right-solid',
    title: 'Efficient Communication.',
    description:
      'Seasonal latte black java dark blue fair grounds barista black origin french caffeine.',
  },
  {
    icon: 'heroicons:sparkles-solid',
    title: 'Time-Saving Automation.',
    description:
      'Seasonal latte black java dark blue fair grounds barista black origin french caffeine.',
  },
]
---

<section class="relative overflow-hidden">
  <Container class="pb-16 pt-20 sm:pb-20 sm:pt-24 lg:pb-24">
    {/* Text content */}
    <div class="relative flex flex-col items-center">
      <h1
        class="max-w-5xl text-center text-4xl font-bold leading-extratight text-violet-100 sm:text-5xl sm:leading-extratight"
      >
        Connect, Create and Collaborate,
        <span class="relative inline-block text-nowrap">
          <span
            class="relative z-10 bg-gradient-to-b from-violet-400 via-violet-400 to-violet-500 bg-clip-text text-transparent"
          >
            Effortlessly
          </span>
          <span class="absolute -top-px left-0 -z-10 text-violet-300"
            >Effortlessly</span
          >
        </span>
      </h1>
      <p class="mt-5 max-w-xl text-center text-lg leading-8 text-zinc-200">
        Iced pumpkin mug in ut shop a doppio panna milk press americano cup bar
        fair, lait that galão irish redeye galão.
      </p>
    </div>

    {/* Graphic */}
    <div
      class="lg:mt-18 relative mt-10 w-full rounded-xl border border-violet-200/[.08] bg-white/[.01] p-1 shadow-inner-blur sm:mt-16 sm:rounded-2xl sm:p-2"
    >
      <div
        class="absolute -left-56 -right-56 -top-80 -z-10 sm:-left-48 sm:-right-48 md:left-1/2 md:w-full md:max-w-6xl md:-translate-x-1/2 lg:-top-96"
      >
        <Image
          src={spaceSpotlight}
          alt=""
          widths={[420, 768, 1152]}
          sizes={`(max-width: 420px) 420px, (max-width: 768px) 768px, (min-width: 768px) 1152px`}
          class="h-full w-full object-contain"
        />
      </div>
      {/* Stars */}
      <div
        class="absolute -top-48 left-1/2 -z-10 h-56 w-full max-w-3xl -translate-x-1/2"
        aria-hidden="true"
      >
        <StarField density="medium" maxRadius={2.25} />
      </div>
      <div class="absolute -bottom-96 -left-96 -right-96 top-0 -z-10">
        <Image
          src={cosmicButterfly}
          alt=""
          class="h-full w-full object-contain opacity-10"
          widths={[420, 768, 1024]}
          sizes={`(max-width: 420px) 420px, (max-width: 768px) 768px, (max-width: 1024px) 1024px, (min-width: 1024px) 1024px`}
        />
      </div>

      <Image
        src={graphic}
        alt="Collaboration interface with user profile images"
        widths={[420, 768, 1024, graphic.width]}
        sizes={`(max-width: 420px) 420px, (max-width: 768px) 768px, (max-width: 1024px) 1024px, (min-width: 1024px) ${graphic.width}px`}
        class="relative h-auto w-full rounded-lg"
      />
    </div>

    {/* Features */}
    <div
      class="md:mt-18 relative mx-auto mt-10 grid max-w-lg grid-cols-1 gap-x-6 gap-y-5 sm:mt-16 sm:max-w-2xl sm:grid-cols-2 sm:gap-y-9 lg:mx-0 lg:max-w-none lg:grid-cols-3"
    >
      {
        features.map((feature) => (
          <div>
            <Icon
              name={feature.icon}
              class="-mt-0.5 mr-1.5 inline h-5 w-5 shrink-0 text-violet-400 sm:h-[21px] sm:w-[21px]"
            />
            <p class="inline text-[17px] leading-7 text-zinc-300 md:text-lg md:leading-8">
              <span class="font-semibold text-white">{feature.title}</span>{' '}
              {feature.description}
            </p>
          </div>
        ))
      }
    </div>
  </Container>
</section>
