---
import Container from '@components/shared/Container.astro'
import { Image } from 'astro:assets'

import avatar1 from '@images/avatars/avatar-1.png'
import avatar2 from '@images/avatars/avatar-2.png'
import avatar3 from '@images/avatars/avatar-3.png'
import avatar4 from '@images/avatars/avatar-4.png'
import avatar5 from '@images/avatars/avatar-5.png'
import avatar6 from '@images/avatars/avatar-6.png'
import avatar7 from '@images/avatars/avatar-7.png'
import avatar8 from '@images/avatars/avatar-8.png'
import avatar9 from '@images/avatars/avatar-9.png'
import avatar10 from '@images/avatars/avatar-10.png'
import avatar11 from '@images/avatars/avatar-11.png'
import avatar12 from '@images/avatars/avatar-12.png'
import spaceSpotlight from '@images/space-spotlight.png'

const testimonials = [
  [
    {
      avatar: avatar1,
      name: 'Ethan Long',
      title: 'Marketer at Trendsetters',
      quote:
        "Incredible tool! It's streamlined our development process with seamless integrations.",
    },
    {
      avatar: avatar2,
      name: 'Nina Tucker',
      title: 'Co-founder of Infinituma',
      quote:
        'This platform has been pivotal in enhancing our product development cycle and collaborative efforts.',
    },
    {
      avatar: avatar3,
      name: 'Olivia Simmons',
      title: 'Engineer at DevTech',
      quote:
        'Nebula’s collaboration software streamlined our dev process with seamless integrations.',
    },
    {
      avatar: avatar4,
      name: 'Sophia Johnson',
      title: 'Developer at Tinker',
      quote:
        'So happy our team moved to Nebula! It Simplified our hiring process, making collaboration a breeze.',
    },
  ],
  [
    {
      avatar: avatar5,
      name: 'Ava Hill',
      title: 'UI Designer at Creatify',
      quote:
        "The user interface is clean and simple to navigate. It's truly a designer's dream platform!",
    },
    {
      avatar: avatar6,
      name: 'Emma López',
      title: 'Creative Director at VisualVibe',
      quote:
        'Our creative process has never been more fluid. The features are top-notch and so easy to use!',
    },
    {
      avatar: avatar7,
      name: 'Isabella Martinez',
      title: 'Founder of ClientConnect',
      quote:
        "Moving to Nebula has been a breeze. Our clients love the platform. It's been a huge win for customer satisfaction.",
    },
    {
      avatar: avatar8,
      name: 'Jackson Patel',
      title: 'Co-founder of Infinituma',
      quote:
        'This solution has been a game-changer for our project timelines and delivery. Couldn’t be more satisfied.',
    },
  ],
  [
    {
      avatar: avatar9,
      name: 'Mia Zhang',
      title: 'Data Analyst at InfoInsight',
      quote:
        "Analyzing data is now easier than ever. I'm impressed with the customizability and all of the integrations!",
    },
    {
      avatar: avatar10,
      name: 'Rachel Green',
      title: 'Marketing Director at FreshLook',
      quote:
        'Our marketing campaigns have become significantly more effective and easier to manage than ever.',
    },
    {
      avatar: avatar11,
      name: 'Liam Smith',
      title: 'Operations Lead at EfficientOps',
      quote:
        "It's transformed our daily operations with its brilliant automation features. Wish I had been using them earlier.",
    },
    {
      avatar: avatar12,
      name: 'Emily Parker',
      title: 'CEO at GreenTech',
      quote:
        'Our operational efficiency has soared beyond expectations with this transformative tool.',
    },
  ],
]
---

<section class="relative overflow-hidden py-20 sm:py-24">
  <Container>
    {/* Text content */}
    <div class="relative flex flex-col items-center">
      <h1
        class="leading-extratight sm:leading-extratight max-w-5xl text-center text-4xl font-bold text-violet-100 sm:text-5xl"
      >
        <span class="relative inline-block text-nowrap">
          <span
            class="relative z-10 bg-gradient-to-b from-violet-400 via-violet-400 to-violet-500 bg-clip-text text-transparent"
          >
            Loved by
          </span>
          <span class="absolute -top-px left-0 -z-10 text-violet-300"
            >Loved by</span
          >
        </span>
        leaders, builders and teams around the world
      </h1>
      <p class="mt-5 max-w-xl text-center text-lg leading-8 text-zinc-200">
        Iced pumpkin mug in ut shop a doppio panna milk press americano cup bar
        fair, lait that galão irish redeye galão.
      </p>
    </div>
  </Container>

  {/* Testimonials */}
  <div class="relative mt-14 space-y-7 sm:mt-16">
    <div
      class="absolute -left-96 -right-96 -top-80 -z-10 sm:-left-96 sm:-right-96 md:left-1/2 md:w-full md:max-w-7xl md:-translate-x-1/2 lg:-top-96"
    >
      <Image
        src={spaceSpotlight}
        alt=""
        widths={[420, 768, 1152]}
        sizes={`(max-width: 420px) 420px, (max-width: 768px) 768px, (min-width: 768px) 1152px`}
        class="h-full w-full object-contain opacity-70"
      />
    </div>

    <div
      class="absolute -left-96 -right-96 -z-10 translate-y-1/2 sm:-left-96 sm:-right-96 md:left-full md:w-full md:max-w-7xl md:-translate-x-3/4 lg:bottom-0"
    >
      <Image
        src={spaceSpotlight}
        alt=""
        widths={[420, 768, 1152]}
        sizes={`(max-width: 420px) 420px, (max-width: 768px) 768px, (min-width: 768px) 1152px`}
        class="h-full w-full object-contain opacity-60"
      />
    </div>
    {
      testimonials.map((row, index) => (
        <div
          class:list={[
            'mx-3.5 flex w-max animate-infiniteScroll items-center justify-center',
            index % 2 != 0 && '[animation-direction:reverse]',
          ]}
        >
          {[...Array(2)].map((_) => (
            <div class="flex w-1/2 justify-around">
              {row.map((testimonial) => (
                <div class="mx-3.5 w-96 rounded-2xl bg-zinc-950/[.01] shadow-inner-blur">
                  <div class="flex h-full w-full flex-col rounded-2xl border border-violet-200/[.06] p-6">
                    <div class="flex items-center">
                      <div class="flex h-11 w-11 items-center justify-center rounded-full bg-[linear-gradient(to_top_right,rgba(113,113,122,0.3),rgba(24,24,27,1)),linear-gradient(rgba(9,9,11,0.5),rgba(9,9,11,0.5))]">
                        <Image
                          class="h-[42px] w-[42px] rounded-full object-cover"
                          src={testimonial.avatar}
                          alt={testimonial.name}
                        />
                      </div>
                      <div class="ml-2.5 flex flex-col justify-center">
                        <span class="text-sm font-semibold text-white">
                          {testimonial.name}
                        </span>
                        <span class="text-sm font-medium text-zinc-400">
                          {testimonial.title}
                        </span>
                      </div>
                    </div>
                    <p class="mt-4 text-lg text-zinc-100">
                      "{testimonial.quote}"
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))}
        </div>
      ))
    }
  </div>
</section>
