---
import Container from '@components/shared/Container.astro'
import StarField from '@components/shared/StarField.astro'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

import spaceSpotlight from '@images/space-spotlight.png'
import cosmicButterfly from '@images/cosmic-butterfly.png'

const links = [
  {
    title: 'Join the community',
    description:
      'More than 10,000 Nebula users share questions and best practices in our Slack community',
    descriptionMobile: 'Join a community of over 10,000 users.',
    url: 'https://slack.com',
    icon: 'nucleo/slack',
    label: 'Join Slack',
    borderClassName:
      'after:inset-x-0 after:bottom-0 after:h-px after:w-full after:bg-gradient-to-r after:from-violet-200/[0.025] sm:after:from-transparent after:to-violet-200/[0.075] sm:after:to-violet-200/[0.125]',
  },
  {
    title: 'Build with Nebula',
    description:
      'Join our developer ecosystem on GitHub. Contribute to Nebula and help us shape the future of collaboration.',
    descriptionMobile: 'Join our developer ecosystem on GitHub.',
    url: 'https://github.com',
    icon: 'nucleo/github',
    label: 'Join on GitHub',
    borderClassName:
      'after:inset-x-0 after:bottom-0 after:h-px after:w-full after:bg-gradient-to-r after:from-violet-200/[0.075] after:to-violet-200/[0.15] sm:after:via-violet-200/[0.25] sm:after:to-violet-200/[0.125] sm:before:content-[""] sm:before:absolute sm:before:left-0 sm:before:h-full sm:before:w-px sm:before:bg-gradient-to-b sm:before:from-violet-200/[.01] sm:before:to-violet-200/[0.125]',
  },
  {
    title: 'Stay in the loop',
    description:
      'Stay updated with the latest news, updates, and insights by following us on X, formerly known as Twitter.',
    descriptionMobile: 'Stay updated with the latest news on Twitter.',
    url: 'https://twitter.com',
    icon: 'nucleo/twitter',
    label: 'Follow us',
    borderClassName:
      'after:inset-x-0 after:bottom-0 after:h-px after:w-full after:bg-gradient-to-r  after:from-violet-200/[0.15] after:to-violet-200/[0.075] sm:after:from-violet-200/[0.125] sm:after:to-transparent before:sm:block before:hidden before:content-[""] before:absolute before:left-0 before:h-full before:w-px before:bg-gradient-to-b before:from-violet-200/[.015] before:to-violet-200/[0.125]',
  },
  {
    title: 'Explore video library',
    description:
      'From detailed tutorials to user stories, discover how to get the most out of Nebula.',
    descriptionMobile: 'Explore our video library on YouTube.',
    url: 'https://youtube.com',
    icon: 'nucleo/youtube-48',
    label: 'Watch now',
    borderClassName:
      'sm:after:block after:content-[""] sm:after:w-1.5 sm:after:h-1.5 sm:after:bg-violet-200 sm:after:top-[-3.5px] sm:after:left-1/2 sm:after:translate-x-[-2.5px] sm:after:rounded-full after:inset-x-0 after:bottom-0 after:h-px after:w-full after:bg-gradient-to-r after:from-violet-200/[0.075] after:to-violet-200/[0.025]',
  },
  {
    title: 'Join our network',
    description:
      'Join our LinkedIn network for professional insights, company news, and career opportunities.',
    descriptionMobile: 'Join our network for professional insights.',
    url: 'https://linkedin.com',
    icon: 'nucleo/linkedin',
    label: 'Connect on LinkedIn',
    borderClassName:
      'sm:before:content-[""] sm:before:absolute sm:before:left-0 sm:before:h-full sm:before:w-px sm:before:bg-gradient-to-b sm:before:from-violet-200/[.25] sm:before:to-violet-200/[0.01] after:content-[""] after:hidden sm:after:block after:absolute after:w-1.5 after:h-1.5 after:bg-violet-200 after:top-[-3.5px] after:left-1/2 after:translate-x-[-2.5px] after:rounded-full',
  },
]
---

<section class="relative overflow-x-clip">
  <div
    class="absolute -left-56 -right-56 -top-80 sm:-left-48 sm:-right-48 md:left-1/2 md:w-full md:max-w-6xl md:-translate-x-1/2 lg:-top-32"
  >
    <Image
      src={spaceSpotlight}
      alt=""
      class="h-full w-full object-contain opacity-25"
      widths={[420, 768, 1152]}
      sizes={`(max-width: 420px) 420px, (max-width: 768px) 768px, (min-width: 768px) 1152px`}
    />
  </div>

  <Container
    class="relative max-w-lg gap-16 pb-16 pt-20 sm:max-w-screen-xl sm:pb-20 sm:pt-24 lg:pb-24"
  >
    <div class="absolute -left-96 -right-96 -top-48 bottom-0 -z-10">
      <Image
        src={cosmicButterfly}
        alt=""
        class="h-[calc(100%_+_336px)] w-[calc(100%_+_768px)] opacity-10"
        widths={[420, 768, 1024]}
        sizes={`(max-width: 420px) 420px, (max-width: 768px) 768px, (max-width: 1024px) 1024px, (min-width: 1024px) 1024px`}
      />
    </div>

    {/* Text content */}
    <div class="flex flex-col items-center">
      <div
        class="flex items-center rounded-full bg-zinc-950/[.01] shadow-inner-blur"
      >
        <div
          class="flex h-full w-full items-center space-x-2 rounded-full border border-violet-200/[.06] px-4 py-1.5"
        >
          <Icon name="nucleo/link-16" class="h-3.5 w-3.5 text-violet-200" />
          <span
            class="text-sm font-medium text-violet-100 drop-shadow-[-12px_-4px_6px_rgba(237,233,254,0.2)]"
          >
            Support and resources
          </span>
        </div>
      </div>

      <h1
        class="mt-5 max-w-5xl text-center text-4xl font-bold leading-extratight text-violet-100 sm:mt-6 sm:text-5xl sm:leading-extratight"
      >
        Explore our online hub
      </h1>
      <p
        class="mt-5 max-w-2xl text-center text-[17px] leading-8 text-zinc-200 sm:text-lg sm:leading-8"
      >
        Lorem ipsum dolor sit amet magna eleifend aliquam diam egestas sed
        facilisi non cras. In bibendum eu eget porttitor ultricies.
      </p>
    </div>

    {/* Popular links */}
    <div class="relative mt-8 flex flex-wrap items-stretch justify-center">
      {
        links.map((link) => (
          <div
            class:list={[
              "group relative w-full bg-gradient-to-b after:absolute after:content-[''] sm:w-1/3",
              link.borderClassName,
            ]}
          >
            <div class="relative h-full w-full overflow-hidden">
              <div
                class="absolute bottom-1/3 left-1/3 right-0 top-0 opacity-0 duration-300 ease-in-out group-hover:opacity-100"
                aria-hidden="true"
              >
                <StarField density="high" maxRadius={1.75} minRadius={1} />
              </div>
              <div class="absolute inset-0 -z-10 bg-gradient-to-b from-[#575EFF]/10 to-[#E478FF]/10 opacity-0 blur-4xl duration-300 ease-in-out group-hover:opacity-100" />
              <div class="relative z-10 flex h-full w-full flex-1 flex-col justify-between px-4 py-5 sm:px-5 sm:py-6 lg:py-7 xl:p-8">
                <div class="flex-1">
                  <Icon
                    name={link.icon}
                    class="h-6 w-6 text-violet-50 sm:h-7 sm:w-7 xl:h-8 xl:w-8"
                  />

                  <h4 class="mt-5 text-base font-semibold text-violet-50 xl:mt-6 xl:text-lg">
                    {link.title}
                  </h4>
                  <p class="mt-2.5 line-clamp-3 text-base text-zinc-300 xl:text-lg">
                    <span class="sm:hidden">{link.descriptionMobile}</span>
                    <span class="hidden sm:inline">{link.description}</span>
                  </p>
                </div>
                <div class="mt-4 xl:mt-5">
                  <a
                    href={link.url}
                    class="flex items-center text-sm font-medium text-violet-300/70 duration-200 ease-in-out group-hover:text-violet-300 xl:text-base"
                  >
                    <span class="absolute inset-0" />
                    {link.label}
                    <Icon
                      name="nucleo/arrow-top-right-16"
                      class="ml-2.5 h-2.5 w-2.5 xl:h-3 xl:w-3"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</section>
