---
import Container from '@components/shared/Container.astro'
import StarField from '@components/shared/StarField.astro'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

import graphic from '@images/pallet.png'
import cosmicButterfly from '@images/cosmic-butterfly.png'
import spaceSpotlight from '@images/space-spotlight.png'

const features = [
  {
    icon: 'heroicons:cursor-arrow-ripple-solid',
    title: 'Inventory Management',
    description:
      'Track and control stock levels efficiently, ensuring accurate and up-to-date inventory data.',
  },
  {
    icon: 'heroicons:sparkles-solid',
    title: 'Warehouse Management',
    description:
      'Streamline warehouse operations with tools for storage, retrieval, and organization of goods.',
  },
  {
    icon: 'heroicons:shield-check-solid',
    title: 'Floor Management',
    description:
      'Optimize warehouse space and workflow with effective management of floor activities.',
  },
  {
    icon: 'heroicons:chart-pie-solid',
    title: 'Stock Control',
    description:
      'Monitor and manage stock movements to maintain optimal inventory levels and reduce waste.',
  },
  {
    icon: 'heroicons:presentation-chart-line-solid',
    title: 'Order Management',
    description:
      'Handle sales and purchase orders seamlessly to ensure smooth order processing and fulfillment.',
  },
  {
    icon: 'heroicons:sparkles-solid',
    title: 'Product Categorization',
    description:
      'Organize products into categories for better inventory management and faster retrieval.',
  },
  {
    icon: 'heroicons:cursor-arrow-ripple-solid',
    title: 'Integration with Fleetbase Core',
    description:
      "Seamlessly integrates with Fleetbase's core API and FleetOps for unified logistics and supply chain management.",
  },
  {
    icon: 'heroicons:chat-bubble-left-right-solid',
    title: 'User-Friendly Interface',
    description:
      'Built with Ember.js, Pallet offers an intuitive frontend for managing inventory and warehouse operations.',
  },
  {
    icon: 'heroicons:sparkles-solid',
    title: 'Backend Reliability',
    description:
      'Implemented with PHP to ensure robust performance and scalability for growing businesses.',
  },
  {
    icon: 'heroicons:chart-pie-solid',
    title: 'Real-Time Inventory Insights',
    description:
      'Gain real-time visibility into stock levels and warehouse activity for data-driven decisions.',
  },
  {
    icon: 'heroicons:sparkles-solid',
    title: 'Barcode & QR Code Support',
    description:
      'Easily manage inventory using barcode and QR code scanning for quick and accurate updates.',
  },
  {
    icon: 'heroicons:cursor-arrow-ripple-solid',
    title: 'Multi-Warehouse Support',
    description:
      'Manage inventory across multiple warehouses from a single interface, ensuring efficient operations.',
  },
]
---

<section class="relative overflow-hidden">
  <Container class="pb-16 pt-20 sm:pb-20 sm:pt-24 lg:pb-24">
    {/* Text content */}
    <div class="relative flex flex-col items-center">
      <h1
        class="max-w-5xl text-center text-4xl font-bold leading-extratight text-blue-100 sm:text-5xl sm:leading-extratight"
      >
        Open Source <br />
        <span class="relative inline-block text-nowrap">
          <span
            class="relative z-10 bg-gradient-to-b from-blue-400 via-blue-400 to-blue-500 bg-clip-text text-transparent"
          >
            Inventory & WMS
          </span>
          <span class="absolute -top-px left-0 -z-10 text-blue-300"
            >Inventory & WMS</span
          >
        </span>
      </h1>
      <p class="mt-5 max-w-xl text-center text-lg leading-8 text-zinc-200">
        Inventory & Warehouse Management Extension for Fleetbase.
      </p>
    </div>

    {/* Graphic */}
    <div
      class="relative mt-10 w-full rounded-xl border border-blue-200/[.08] bg-white/[.01] p-1 shadow-inner-blur sm:mt-16 sm:rounded-2xl sm:p-2 lg:mt-18"
    >
      <div
        class="absolute -left-56 -right-56 -top-80 -z-10 sm:-left-48 sm:-right-48 md:left-1/2 md:w-full md:max-w-6xl md:-translate-x-1/2 lg:-top-96"
      >
        <Image
          src={spaceSpotlight}
          alt=""
          widths={[420, 768, 1152]}
          sizes={`(max-width: 420px) 420px, (max-width: 768px) 768px, (min-width: 768px) 1152px`}
          class="h-full w-full object-contain"
        />
      </div>
      {/* Stars */}
      <div
        class="absolute -top-48 left-1/2 -z-10 h-56 w-full max-w-3xl -translate-x-1/2"
        aria-hidden="true"
      >
        <StarField density="medium" maxRadius={2.25} />
      </div>
      <div class="absolute -bottom-96 -left-96 -right-96 top-0 -z-10">
        <Image
          src={cosmicButterfly}
          alt=""
          class="h-full w-full object-contain opacity-10"
          widths={[420, 768, 1024]}
          sizes={`(max-width: 420px) 420px, (max-width: 768px) 768px, (max-width: 1024px) 1024px, (min-width: 1024px) 1024px`}
        />
      </div>

      <Image
        src={graphic}
        alt="Collaboration interface with user profile images"
        widths={[420, 768, 1024, graphic.width]}
        sizes={`(max-width: 420px) 420px, (max-width: 768px) 768px, (max-width: 1024px) 1024px, (min-width: 1024px) ${graphic.width}px`}
        class="relative h-auto w-full rounded-lg"
      />
    </div>

    {/* Features */}
    <div
      class="relative mx-auto mt-10 grid max-w-lg grid-cols-1 gap-x-6 gap-y-5 sm:mt-16 sm:max-w-2xl sm:grid-cols-2 sm:gap-y-9 md:mt-18 lg:mx-0 lg:max-w-none lg:grid-cols-3"
    >
      {
        features.map((feature) => (
          <div>
            <Icon
              name={feature.icon}
              class="-mt-0.5 mr-1.5 inline h-5 w-5 shrink-0 text-blue-400 sm:h-[21px] sm:w-[21px]"
            />
            <p class="inline text-[17px] leading-7 text-zinc-300 md:text-lg md:leading-8">
              <span class="font-semibold text-white">{feature.title}</span>{' '}
              {feature.description}
            </p>
          </div>
        ))
      }
    </div>
  </Container>
</section>
