---
import Container from '@components/shared/Container.astro'
import StarField from '@components/shared/StarField.astro'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

import graphic from '@images/storefront_app.png'
import cosmicButterfly from '@images/cosmic-butterfly.png'
import spaceSpotlight from '@images/space-spotlight.png'

const features = [
  {
    icon: 'heroicons:cursor-arrow-ripple-solid',
    title: 'Interface Configuration',
    description:
      'Customize the design and functionality of the Storefront App, from background images and colors to input positioning, directly through the configuration file.',
  },
  {
    icon: 'heroicons:language-solid',
    title: 'Internationalization & Translations',
    description:
      'Built-in support for multiple languages and localization, allowing customers to view the app in their preferred language with translations easily added to the system.',
  },
  {
    icon: 'heroicons:credit-card-solid',
    title: 'Payment Gateways',
    description:
      'Supports payment processing through Stripe, with plans to integrate additional payment gateways in the near future.',
  },
  {
    icon: 'heroicons:map-solid',
    title: 'Store Locations',
    description:
      'Manage multiple store locations with unique operating hours and geolocation for hyperlocal shopping experiences.',
  },
  {
    icon: 'heroicons:clock-solid',
    title: 'Store Hours',
    description:
      'Set and manage store operating hours for each location to provide accurate availability to customers.',
  },
  {
    icon: 'heroicons:user-group-solid',
    title: 'Multi-Vendor Support',
    description:
      'Create and manage multi-vendor marketplaces using networks, enabling collaborative e-commerce ecosystems.',
  },
  {
    icon: 'heroicons:shopping-cart-solid',
    title: 'Cart Functionality',
    description:
      'Comprehensive cart management with options to add, remove, update items, and calculate delivery quotes based on custom service rates.',
  },
  {
    icon: 'heroicons:check-circle-solid',
    title: 'Checkout Flow',
    description:
      'Streamlined checkout process with token-based order creation and integration with payment gateways.',
  },
  {
    icon: 'heroicons:user-circle-solid',
    title: 'Customer Authentication',
    description:
      'Includes 2FA and seamless onboarding processes for customer account creation and login.',
  },
  {
    icon: 'heroicons:currency-dollar-solid',
    title: 'Delivery & Service Rates',
    description:
      'Define custom delivery quotes based on location, cart, and time-based rules to provide accurate pricing at checkout.',
  },
  {
    icon: 'heroicons:document-solid',
    title: 'Orders Management',
    description:
      'Handle incoming orders with options for manual or automated acceptance and assignment to drivers.',
  },
  {
    icon: 'heroicons:truck-solid',
    title: 'Driver/Agent App Integration',
    description:
      'Seamless integration with the Fleetbase Navigator app for drivers to manage and complete orders, including proof of delivery options.',
  },
  {
    icon: 'heroicons:photo-solid',
    title: 'Proof of Delivery',
    description:
      'Supports QR code, signature, and upcoming photo verification methods for secure and verifiable order completion.',
  },
  {
    icon: 'heroicons:chart-bar-solid',
    title: 'Analytics & Insights',
    description:
      'Monitor store performance, track order statuses, and analyze revenue using the Storefront dashboard.',
  },
  {
    icon: 'heroicons:server-solid',
    title: 'SDK & API Support',
    description:
      'Leverage the Fleetbase Storefront SDK for advanced customizations and integrations using API-driven methods.',
  },
]
---

<section class="relative overflow-hidden">
  <Container class="pb-16 pt-20 sm:pb-20 sm:pt-24 lg:pb-24">
    {/* Text content */}
    <div class="relative flex flex-col items-center">
      <h1
        class="max-w-5xl text-center text-4xl font-bold leading-extratight text-blue-100 sm:text-5xl sm:leading-extratight"
      >
        Open Source <br />
        <span class="relative inline-block text-nowrap">
          <span
            class="relative z-10 bg-gradient-to-b from-blue-400 via-blue-400 to-blue-500 bg-clip-text text-transparent"
          >
            OnDemand Delivery App
          </span>
          <span class="absolute -top-px left-0 -z-10 text-blue-300">
            OnDemand Delivery App
          </span>
        </span>
      </h1>
      <p class="mt-5 max-w-xl text-center text-lg leading-8 text-zinc-200">
        Open source ecommerce mobile app for on-demand orders. Setup ecommerce
        marketplace or shop.
      </p>
    </div>

    {/* Graphic */}
    <div
      class="relative mt-10 w-full rounded-xl border border-blue-200/[.08] bg-white/[.01] p-1 shadow-inner-blur sm:mt-16 sm:rounded-2xl sm:p-2 lg:mt-18"
    >
      <div
        class="absolute -left-56 -right-56 -top-80 -z-10 sm:-left-48 sm:-right-48 md:left-1/2 md:w-full md:max-w-6xl md:-translate-x-1/2 lg:-top-96"
      >
        <Image
          src={spaceSpotlight}
          alt=""
          widths={[420, 768, 1152]}
          sizes={`(max-width: 420px) 420px, (max-width: 768px) 768px, (min-width: 768px) 1152px`}
          class="h-full w-full object-contain"
        />
      </div>
      {/* Stars */}
      <div
        class="absolute -top-48 left-1/2 -z-10 h-56 w-full max-w-3xl -translate-x-1/2"
        aria-hidden="true"
      >
        <StarField density="medium" maxRadius={2.25} />
      </div>
      <div class="absolute -bottom-96 -left-96 -right-96 top-0 -z-10">
        <Image
          src={cosmicButterfly}
          alt=""
          class="h-full w-full object-contain opacity-10"
          widths={[420, 768, 1024]}
          sizes={`(max-width: 420px) 420px, (max-width: 768px) 768px, (max-width: 1024px) 1024px, (min-width: 1024px) 1024px`}
        />
      </div>

      <Image
        src={graphic}
        alt="Collaboration interface with user profile images"
        widths={[420, 768, 1024, graphic.width]}
        sizes={`(max-width: 420px) 420px, (max-width: 768px) 768px, (max-width: 1024px) 1024px, (min-width: 1024px) ${graphic.width}px`}
        class="relative h-auto w-full rounded-lg"
      />
    </div>

    {/* Features */}
    <div
      class="relative mx-auto mt-10 grid max-w-lg grid-cols-1 gap-x-6 gap-y-5 sm:mt-16 sm:max-w-2xl sm:grid-cols-2 sm:gap-y-9 md:mt-18 lg:mx-0 lg:max-w-none lg:grid-cols-3"
    >
      {
        features.map((feature) => (
          <div>
            <Icon
              name={feature.icon}
              class="-mt-0.5 mr-1.5 inline h-5 w-5 shrink-0 text-blue-400 sm:h-[21px] sm:w-[21px]"
            />
            <p class="inline text-[17px] leading-7 text-zinc-300 md:text-lg md:leading-8">
              <span class="font-semibold text-white">{feature.title}</span>{' '}
              {feature.description}
            </p>
          </div>
        ))
      }
    </div>
  </Container>
</section>
